.wrapper__charters {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    font-size: 30px;
    position: absolute;
    width: 100%;
    height: 100vh;
    top: -10000px;
    transition: transform 1s ease-in-out;
    background: url(./img/geralt.jpg) 50% 0/cover no-repeat;
    z-index: 1;
}

.wrapper__charters.about-top {
    transform: translateY(10000px);
}

.charters__wrapper-fot {
    margin: 0 auto;
    width: 92%;
    height: 5vh;
    background-color: rgb(0, 0, 0, 0.9);
}

.charters__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: scroll;
    position: relative;
    margin: 0 auto;
    width: 92%;
    height: 95vh;
    background-color: rgb(0, 0, 0, 0.9);

    &::-webkit-scrollbar {
        width: 6px;
    }



    &::-webkit-scrollbar-thumb {
        border-radius: 10px;
        background: linear-gradient(180deg, #c0c0c0, #c0c0c0);
    }
}

.charters__tittle {
    color: aliceblue;
}

.exit {
    margin: 20px;
    position: absolute;
    top: 5vh;
    right: 5vw;
    font-size: calc($fonts/3);
    font-weight: 300;
    line-height: 0px;
    color: #c0c0c0;
    cursor: pointer;

    &:hover {
        text-shadow: #FC0 1px 0 15px;
    }
}

.block-for-cards {
    display: inline-block;
    position: relative;
    margin: 0 2vw;
    font-size: 20px;
    color: #c0c0c0;
}

.video-image {
    position: absolute;
    top: 32px;
    left: 5px;
    width: 141px;
    height: 215px;
    opacity: 0;
    cursor: pointer;
    z-index: 0;
}

.charters__tittle {
    margin: 20px;
    font-size: calc($fonts/3);
    font-weight: 300;
    line-height: 0px;
    color: #c0c0c0;
    text-shadow: #FC0 1px 0 15px;

    &:before,
    &:after {
        content: "";
        display: inline-block;
        vertical-align: middle;
        width: 14vw;
        height: 4px;
        background-color: #c0c0c0;
        position: relative;
    }

    &:before {
        margin-left: -200%;
        left: -14px;
    }

    &:after {
        margin-right: -200%;
        right: -14px;
    }

}

.all-cards-image {
    position: relative;
    margin-top: 10px;
    background-position: top left;
    background-size: contain;
    background-repeat: no-repeat;
    cursor: pointer;
    z-index: 1;
}

.wrapper__pop-up {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow-y: scroll;
    font-size: 30px;
    position: absolute;
    width: 100%;
    height: 100vh;
    top: -10000px;
    transition: transform 1s ease-in-out;
    background-color: rgb(0, 0, 0, 0.8);
    z-index: 2;
}

.wrapper__pop-up.click-on-pickter {
    transform: translateY(10000px);
}

.pop-up__paper {
    display: flex;
    margin: 0 auto;
    justify-content: space-evenly;
    width: 80vw;
}

.image-video {
    position: relative;

    &::after {
        content: '';
        display: inline-block;
        vertical-align: middle;
        width: 250px;
        height: 362px;
        background: url(https://gwent.one/image/card/low/assets/border-gold.png) 0 0/100% 100% no-repeat;
        position: absolute;
        top: 0;
        left: 0;
    }
}

.big-video {
    display: block;
    width: 250px;
    height: 360px;
}

.about-person {
    position: relative;
    background: url(./img/old_paper.jpg);
    border-radius: 3% 7%;
    width: 50vw;
    border: 3px solid #a0853c;
}

.big-name {
    font-weight: 500;
    font-size: 50px;
    line-height: 20px;
}

.big-voice {
    -webkit-appearance: none;
    position: relative;
    overflow: hidden;
    width: 50%;
    height: 25px;
    margin-top: 5px;
    cursor: pointer;
    border: 1px dashed #000;
    border-radius: 24px;

    &::-webkit-slider-runnable-track {
        background: #fff;
    }

    &::-webkit-slider-thumb {
        -webkit-appearance: none;
        width: 24px;
        height: 24px;
        border-radius: 50%;
        background: #ff4200;
        box-shadow: -400px 0 0 388px #000;
    }
}

.big-discription {
    font-family: "Trebuchet MS", sans-serif;
    font-size: 22px;
    margin: 5%;
}

.exitTwo {
    margin: 0px;
    position: absolute;
    top: 4vh;
    right: 3vw;
    font-size: calc($fonts/3);
    font-weight: 300;
    line-height: 0px;
    cursor: pointer;

    &:hover {
        text-shadow: rgb(27, 23, 6) 1px 0 15px;
    }
}

@media (max-width:740px) {

    .big-video {
        display: block;
        width: 150px;
        height: 260px;
    }

    .image-video {
        position: relative;

        &::after {
            content: '';
            display: inline-block;
            vertical-align: middle;
            width: 150px;
            height: 225px;
            background: url(https://gwent.one/image/card/low/assets/border-gold.png) 0 0/100% 100% no-repeat;
            position: absolute;
            top: 20px;
            left: 0;
        }
    }

    .big-name {
        font-size: 35px;
        line-height: 10px;
    }

    .big-discription {
        font-family: "Trebuchet MS", sans-serif;
        font-size: 17px;
        margin: 5%;
    }
}

@media (max-width: 600px) {

    .pop-up__paper {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .wrapper__pop-up {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
    }

    .big-discription {
        font-family: "Trebuchet MS", sans-serif;
        font-size: 15px;
        margin: 5%;
    }

    .big-name {
        font-size: 25px;
        line-height: 0px;
    }

    .exitTwo {
        margin: 0px;
        position: absolute;
        top: 1.5vh;
        right: 3vw;
        font-size: calc($fonts/5);
    }
}