.wrapper__total {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    position: absolute;
    width: 100vw;
    height: 100vh;
    left: -10000px;
    transition: transform 1s ease-in-out;
    background: url(./img/the-witcher-wild-hunt.jpg) 50% 0/cover no-repeat;
    z-index: 0;
}

.wrapper__total.total-choice {
    transform: translateX(10000px);
}

.message {
    position: relative;
}

.message__exit-title {
    position: absolute;
    top: 10px;
    right: 10px;
    font-family: 'Trebuchet MS', sans-serif;
    font-size: 30px;
    cursor: pointer;

    &:hover {
        text-shadow: rgb(19, 18, 16) 1px 0 15px;
    }
}

.message-total-title {
    margin: 0 10px;
    padding: 0 10px;
    justify-content: center;
    align-items: center;
}

.message__greeting-title {
    font-family: 'Trebuchet MS', sans-serif;
}

.message__rules-title {
    background: url(./img/finish.webp);
    height: 150px;
    width: 150px;
}

.message__button-title {
    margin-bottom: 20px;
    padding: 0;
    border: none;
    color: aliceblue;
    border-bottom: 4px solid #302113;
    cursor: pointer;
    background-color: #24170b;
    font-size: 30px;
}

@media (max-width: 640px) {

    .message__greeting-title {
        font-size: 20px;
    }

    .message__rules-title {
        font-size: 20px;
    }

    .message__button-title {
        font-size: 30px;
    }
}

@media (max-width: 640px) {

    .message__title-title {
        font-size: 25px;
    }

    .message__greeting-title {
        font-size: 18px;
    }
}