@import './styles/normalize';
@import './styles/vars';
@import './styles/fonts';
@import './styles/style_start';
@import './styles/style_about';
@import './styles/style_charters';
@import './styles/player_style';
@import './styles/game_style';
@import './styles/total_style';