a {
    text-decoration: none;
    color: #fff
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
}

.head_container {
    width: 100%;
    background-color: black;
    background-size: cover;
    display: flex;
    flex-direction: row;
}

.head_wrapper {
    max-width: 1190px;
    width: 100%;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    margin: 15px auto;
    padding: 0 15px;
}

.online_button {
    width: 82px;
    padding: -2px 0px;
    border: 1px solid #FFFFFF;
}

.footer_petStory_online>h1 {
    color: #fff;
    padding: 0 0 0 0;
    margin: 2px 0px 0 0px;
    font-weight: 400;
    font-size: 19px;
    line-height: 120%;
    text-align: center;
    background: url(../../assets/icons/bamboo.svg) no-repeat;
    background-position: 10px 19px;
}

.list {
    margin: 15px 0 0 62px;
    gap: 58px;
    display: flex;
    flex-direction: row;
    list-style-type: none;
    color: #FFFFFF;
    margin-right: auto;
}
.list>li>a:hover {
    color: rgba(249, 128, 75, 1);
}

.list>li span {
    color: rgba(249, 128, 75, 1);
}

.designed {
    margin: 16px 3px 0 0;
    color: #fff;
}
.designed>a:hover {
    color: rgba(249, 128, 75, 1);
}

.panda_wrapper {
    background: url(../../assets/images/panda_donate.jpg) no-repeat;
    background-size: cover;
    background-position: center center;
    height: 386px;
    width: 100%;
}

/*-------------------------------main----------------------------*/
.donate_main {
    width: 100%;
    background: linear-gradient(315.75deg, rgba(254, 210, 144, 0.7) 30.06%, #febdab 100.95%, rgba(254, 210, 144, 0.7) 106.36%), linear-gradient( 315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #e0d8f0 80.49%, #eaf7fe 127.9%, #eaf7fe 149.54% );
    display: flex;
    flex-direction: column;
}

.main_wrapper {
    max-width: 1190px;
    width: 100%;
    padding: 0 15px;
    margin: 0 auto 180px auto;
}

.main_wrapper>:nth-child(1) {
    margin: 40px auto 10px auto;
    font-weight: 400;
    font-size: 36px;
    line-height: 130%;
    color: #FFFFFF;
}

.main_wrapper>:nth-child(2) {
    font-weight: 500;
    font-size: 16px;
    line-height: 140%;
    color: #FFFFFF;
}

.main_wrapper>:nth-child(3) {
    margin: 45px 0 60px 0;
    align-self: flex-start;
    font-weight: 400;
    font-size: 36px;
    line-height: 130%;
    color: #FE9013;
}

.pick_and_feed_container {
    width: 100%;
    background: rgba(255, 255, 255, 0.52);
    backdrop-filter: blur(2px);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pick_and_feed_container>h3{
    margin: 42px 10px 20px 0;
    font-weight: 400;
    font-size: 48px;
    color: #FE9013;
}

.pick_and_feed_container>:nth-child(2) {
    align-self: flex-start;
    margin-left: 90px;
    margin-bottom: 60px;
    font-weight: 400;
    font-size: 24px;
    line-height: 120%;
    color: #333B41;
}

.go_panda_picter {
    margin:20px 20px 0 0;
    display: flex;
    flex-direction: row;
}

.panda_diet{
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.panda_diet>:nth-child(1) {
    font-weight: 500;
    font-size: 72px;
    line-height: 80%;
    text-align: center;
    text-transform: uppercase;
    color: #000000;
}

.panda_diet>:nth-child(2) {
    margin-top: 12px;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    text-align: center;
    color: #333B41;
}

.go_panda_picter>:nth-child(2) {
    margin: -11px 62px 0 12px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.go_panda_picter>:nth-child(3) {
    margin: -15px 0 15px 0;
}

.pick_and_feed_container>:nth-child(4) {
    margin: 24px 0 0 94px;
    align-self: flex-start;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    color: #000000;
}
/*----------------------hard-input---------------------------------*/
.donate {
margin-top: 18px;
padding: 0 15px;
max-width: 1010px;
width: 100%;
}

.form-range__container {
position: relative;
margin-bottom: 12px;
border-radius: 2px;
width: 100%;
}

.form__range {
-webkit-appearance: none;
display: block;
margin: 0;
width: 100%;
background: transparent;
cursor: pointer;
}

.form__range:focus {
outline: none;
}

.form__range::-webkit-slider-runnable-track {
-webkit-appearance: none;
z-index: -1;
width: 100%;
color: transparent;
border-radius: 2px;
border: none;
padding: 4px 14px 4px 10px;
background: rgba(64, 73, 80, 1);
}

.form__range::-webkit-slider-thumb {
-webkit-appearance: none;
cursor: pointer;
height: 40px;
width: 40px;
padding: 8.5px;
border-radius: 50%;
box-shadow: 0px 2px 10px -2px black(1);
position: relative;
z-index: 2;
background: url('../../assets/icons/roller_icon.svg') center center;
background-size: 100%;
background-position: center;
background-repeat: no-repeat;
margin: -11px 0;
}

.ticks {
position: absolute;
z-index: -1;
top: 0;
left: 0;
right: 0;
bottom: 0;
display: flex;
justify-content: space-between;
align-items: center;
padding: 0 29px 0 25px;
}

.tick {
z-index: 2;
width: 10px;
background: #ffee2e;
height: 10px;
border-radius: 100%;
}

.middle-line {
position: absolute;
width: calc(100% - 60px);
border: none;
color: #72828e;
background-color: #72828e;
height: 2px;
}

.form-price__wrapper {
display: flex;
width: 100%;
justify-content: space-between;
padding-right: 10px;
margin-bottom: 50px;
}

.form-price {
width: 57px;
font-weight: 500;
font-size: 26px;
line-height: 140%;
text-transform: uppercase;
color: #333b41;
}
.item_active {
color: #FE9013;
}
.form__number-currency {
display: flex;
justify-content: center;
position: relative;
}

.form__number {
display: block;
width: 268px;
padding: 13px 25px 15px 8px;
border: 1px solid #929699;
background-color: transparent;
color: #333b41;
margin-bottom: 25px;
font-weight: 400;
font-size: 16px;
line-height: 140%;
}

.form__number:active {
border: 1px solid #4b9200;
}

.form__number:active::placeholder {
color: #4b9200;
}
.form__number:active:-ms-input-placeholder {
color: #4b9200;
}
.form__number:active::-ms-input-placeholder {
color: #4b9200;
}

.form__number:invalid {
color: #d31414;
border: 1px solid #d31414;
}

.form__number-currency:after {
position: absolute;
top: 12px;
content: '$';
right: 10px;
color: #929699;
font-weight: 400;
font-size: 20px;
line-height: 140%;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
-webkit-appearance: none;
margin: 0;
}

input[type='number'] {
-moz-appearance: textfield;
}

.form__radio {
display: flex;
justify-content: center;
gap: 76px;
padding-left: 10px;
margin-bottom: 30px;
}

.form__radio-btn {
display: none;
}

.form__radio-text {
display: inline-block;
cursor: pointer;
position: relative;
margin-right: 0;
font-weight: 400;
font-size: 16px;
line-height: 140%;
color: #333b41;
user-select: none;
}

.form__radio-text:before {
content: '';
display: inline-block;
width: 14px;
height: 14px;
position: absolute;
border: 1px solid #fe9013;
border-radius: 50%;
top: 2px;
left: -26px;
}

.form__radio-btn:checked + .form__radio-text:before {
background-color: #fe9013;
}

.btn {
width: 300px;
height: 54px;
text-align: center;
background: linear-gradient(113.96deg, #f9804b 1.49%, #fe9013 101.44%);
border-radius: 25px;
font-weight: 500;
font-size: 16px;
line-height: 140%;
text-transform: uppercase;
color: white;
border: none;
cursor: pointer;
outline: none;
}

.btn:hover {
background: #e47209;
}

.btn:active {
background: #4b9200;
}

.btn:disabled {
background: #767474;
}

.form__submit {
margin: 0 0 28px 3px;
}

.donate__form:invalid .form__submit {
background: #767474;
pointer-events: none;
}

.donate__form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.donate__bottom-text {
font-weight: 400;
font-size: 16px;
line-height: 140%;
color: #333b41;
}

.share_recomend {
    margin: 2px 0 63px 0;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    color: #333B41;
}
/*----------------------------footer----------------*/
.desktop_petstory_footer {
    display: flex;
    flex-direction: column;
    background-color: #111115;
}

.footer_wrapper {
    max-width: 1190px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
}

.input_online_wrapper{
    margin: 40px 0 0 0;
}

.input_online_container {
    margin: 0 0 0 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.footer_petStory_online {
    margin: 0 0 0 0;
    border-radius: 2px;
    border: 0.5px solid #fff;
}

.footer_petStory_online>div {
    color: #FFFFFF;
    padding: 0 0 3px 0;
    margin: 0 0px 0 0px;
    font-weight: 400;
    font-size: 19px;
    line-height: 120%;
    text-align: center;
    background: url(../../assets/icons/bamboo.svg) no-repeat;
    background-position: 10px 19px;
}

.footer_input {
    margin: 40px 0px 0 0;
    display: flex;
    flex-direction: column;
}

.footer_input :nth-child(1) {
    margin-bottom: 12px;
    font-weight: 400;
    font-size: 24px;
    line-height: 120%;
    color: #fff;
}

.footer-form-text {
    padding: 3px 8px 10px 10px;
    margin-right: 5px;
    width: 230px;
    color: rgba(255, 0, 0, 0.571);
    border: 1px solid rgba(255, 0, 0, 0.571);
    background: #111115;
}

::placeholder {
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
}

.footer-form-submit {
    padding: 10px 37px;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    color: rgba(255, 0, 0, 0.571);
    background: #F1F3F2;
    border: 1px solid rgba(255, 0, 0, 0.571);
    border-radius: 5px;
}

.footer-form-submit:hover {
    color: rgba(0, 255, 0, 0.571);
    border: 1px solid rgba(0, 255, 0, 0.571);
    cursor: pointer;
}

.desktop_petstory_footer button {
    width: 298px;
    margin: 23px 0 0px 0;
    padding: 16px 30px;
    align-self: flex-start;
    font-weight: 500;
    font-size: 16px;
    line-height: 140%;
    text-align: center;
    text-transform: uppercase;
    border: none;
    color: #fff;
    background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
    border-radius: 5px;
}

.desktop_petstory_footer button:hover {
    color: #080907;
    background: rgb(226, 226, 3);
    cursor: pointer;
}

.footer_navigation {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.social_networks {
    margin: 31px 0 50px 0;
    text-align: center;
    width: 111px;
    list-style-type: none;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    color: #fff;
}

.social_networks>li {
    margin-top: 6.5px;
    padding: 3px 0 0 0;
    display: flex;
    flex-direction: row;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
}
.social_networks>li>div>a:hover {
    color: #F9804B;
}

.social_networks>li>div:nth-child(2){
    display: inline;
    margin: 5px 0 0 10px;
}

.social_networks>li>div:nth-child(1){
    display: flex;
    justify-content: center;
    align-items: center;
    width: 26px;
    height: 26px;
    background: rgba(196, 196, 196, 0.5);
    border-radius: 50%;
}

.list{
    display: flex;
    flex-direction: row;
    gap: 59px;
    list-style-type: none;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    color: #fff;
}

.list>li>a:hover {
    color: #F9804B;
}

.autors {
    margin-top: 65px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    list-style-type: none;
    font-weight: 100;
    font-size: 16px;
    line-height: 130%;
    color: #fff;
}

.list_container {
    margin: 140px 0 0 54px;
}

.autors>div {
    padding-top: 10px;
}