
a {
    text-decoration: none;
    color: #fff
}

body {
    width: 100%;
}
.dark {
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    background: rgba(0,0,0,0.7);
    z-index: 3;
}
.wrapper {
    max-width: 1600px;
    font-family: 'Roboto', sans-serif;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}
/*-------------------------------шапка--------------------------------*/
.header {

}
.menu__sub-list{
    position: absolute;
    opacity: 0;
}
.hamburger_menu {
    display: none;
}

.head_list {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    gap: 58px;
}

.header__container {
    max-width: 1600px;
    width: 100%;
    position: absolute;
    z-index: 2;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: black;
    color: #fff;
}

.header__container :active {
    color: rgba(249, 128, 75, 1);
}
.petStory_online :active {
    color: #fff;
}

.online_button {
    width: 82px;
    margin: 14px 0 14px 219px;
    padding: -2px 0px;
    border: 1px solid #FFFFFF;
}
.petStory_online>h1{
    margin: 4px 0px 0 0px;
    font-weight: 400;
    font-size: 19px;
    line-height: 120%;
    text-align: center;
    background: url(../../assets/icons/bamboo.svg) no-repeat;
    background-position: 10px 19px;
}
.about {
    margin: 0 15px 0 63px;
    color:rgba(249, 128, 75, 1);
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 140%;
}
.about a {
    color:rgba(249, 128, 75, 1);
}
.designed {
    box-sizing: border-box;
    padding-right: 13.9%;
    margin-left: auto;
}
/*--------------------------------панда-------------------------------*/
.watch_online {
    z-index: 1;
    display: flex;
    flex-direction: row;
    background: url(../../assets/images/Giant-Panda.jpg) no-repeat;
}
.orange_round {
    position: absolute;
    top: 92px;
    left: 50.4%;
    height: 465px;
    width: 465px;
    background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
    border-radius: 50%;
}
.text_watch-animal {
    position: relative;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    letter-spacing: 1px;
    font-size: 105px;
    line-height: 80px;
    text-align: center;
    text-transform: uppercase;
    color: #fff;
}
.text_watch-animal>span{
    color: rgba(255, 238, 46, 1);

}
.text_button_orange {
    margin: 10.3% 9.3% 13.3% 50.6%;
    display: flex;
    flex-direction:column;
}
.orange-button {
    width: 46%;
    margin: 9.5% 0 0 27.1%;
    padding: 0 0 0 0;
    position: relative;
    font-weight: 500;
    font-size: 15px;
    line-height: 52px;
    text-align: center;
    letter-spacing: 0px;
    text-transform: uppercase;
    color: #fff;
    background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
    border-radius: 25px;
}
.orange-button:hover {
    background:rgba(228, 114, 9, 1);
    cursor: pointer;
 }
 .orange-button:active {
    background: rgba(75, 146, 0, 1);
 }
/*-------------------------------bamboo-cap-----------------------------*/
.bamboo_cap_container{
    display: flex;
    flex-direction: row;
}
.men_and_text {
    display: flex;
    flex-direction: row;
    margin: 1.8% 0 0 13.7%;
}
.cap_men>img {
    width: 100%;
}
.cup_text {
    width: 40%;
    margin: 0 0 0 7.3%;
}
.cup_text>div:nth-child(1) {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 120%;
    color: #333B41;
}
.cup_text>div:nth-child(2) {
    margin: 22px 0 0 0;
    font-weight: 400;
    font-size: 16px;
    line-height: 130%;
    color: #333B41;
}
.cup_text>div:nth-child(3) {
    margin: 55px 0 0 0;
    font-weight: 400;
    font-size: 24px;
    line-height: 120%;
    color: #333B41;

}
.cup_text>div:nth-child(4) {
    margin: 34px 0 0 0;
    font-weight: 400;
    font-size: 16px;
    line-height: 138%;
    color: #333B41;
}
.cap_flower {
    position: relative;
    z-index: 0;
    margin: -6.2% -6.1% 0 0;
}
/*---------------------------about-animal-------------------------------*/
.last-card{
    display: none;
}
.wrappers {
    width: 1200px;
    overflow: hidden;
    position: relative;
}
.slider{
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 100%;
    z-index: 5;
    position: relative;
    left: -99%;
  }
  .slider-down {
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 100%;
    z-index: 5;
    position: relative;
    left: -98.5%;
  }
  @keyframes move-right {
    from {left: -1180px;}
    to {left: -2340px;}
  }
  
  .transition-right {
    animation-name: move-right;
    animation-duration: 1s;
  }
  
  @keyframes move-left {
    from {left: -1180px;}
    to {left: 0px;}
  }
.transition-left {
  animation-name: move-left;
  animation-duration: 1s;
}
  .Alligator>div>img {
    max-width: 366px;
    width: 100%;
    max-height: 426px;
    height: 100%;
  }
.Alligator_text_small {
    display: none;
}
.animal_little_screen {
    display: none;
}
.little_screen_arrows {
    display: none;
}
.section_about_animal {
    display: flex;
    flex-direction: column;
    position: relative;
    z-index: 2;
}
.info_about_animal{
    display: flex;
    flex-direction: row;
}
.section_about_animal::before {
    content: "";
    position: absolute;
    width: 292px;
    height: 460px;
    left: 0;
    bottom: 0;
    background-image: url(../../assets/images/palm_foto.jpg);
    background-repeat: no-repeat;
    z-index: -2;
}
.section_about_animal::after {
    content: "";
    position: absolute;
    width: 368px;
    height: 275px;
    right: 0;
    bottom: 0;
    background-image: url(../../assets/images/strelitzia.jpg);
    background-repeat: no-repeat;
    z-index: -2;
}
.arrow_left {
    height: 62px;
    width: 62px;
    margin: 498px 5px 22% 8.6%;
    display: flex;
    align-items: center;
    background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
    border-radius: 50%;
}   

.arrow_left:hover {
    background:rgba(228, 114, 9, 1);
    cursor: pointer;
}
.arrow_left:active {
    background: rgba(75, 146, 0, 1);
 }
.arrow_left>img {
    margin: 0 auto;
}
.arrow_right {
    margin: 498px 8.6% 22% 0;
    height: 62px;
    width: 62px;
    display: flex;
    align-items: center;
    background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
    border-radius: 50%;
}
.arrow_right:hover {
    background:rgba(228, 114, 9, 1);
    cursor: pointer;
}
.arrow_right:active {
    background: rgba(75, 146, 0, 1);
 }
.arrow_right>img {
    margin: 0 auto;
}
.carton_animal {
    display: flex;
    flex-direction: column;
}
.carton_animal_top {
    display: flex;
    flex-direction: row;
}
.animal_wrapper {
    position: relative;
    width: 366px;
    height: 426px;
    border: 1px solid #fa6f32;
    border-radius: 5px;
    overflow: hidden;
    transform: all 0.5s;
}
.carton_animal_top>div {
    margin: 94px 15px 8px 14px;
    border-radius: 5px;
    border: 1px solid rgba(250, 111, 50, 1);
}
.carton_animal_top>div>div>img {
    width: 100%;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.carton_animal_down>div>div>img {
    width: 100%;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    transition: all 0.5s;
}
.carton_animal_down>div>div:hover{
    position: relative;
    cursor: pointer;
    transform: scale(1.03);
    transition: all 0.5s;
    background-color: #F9804B;
}
.carton_animal_down>div>div:hover .text_card{
    position: relative;
    bottom: 50px;
    color: #fff;
    transition: all 0.5s;
}
.carton_animal_down>div>div:hover .picter_zoo:before{
    content: '';
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    position: absolute;
    background-color: rgba( 0, 0, 0, 0.5);
}
.carton_animal_top>div>div:hover {
    position: relative;
    cursor: pointer;
    transform: scale(1.03);
    transition: all 0.5s;
    background-color: #F9804B;
}
.carton_animal_top>div>div:hover .text_card{
    position: relative;
    bottom: 50px;
    color: #fff;
    transition: all 0.5s;
}
.carton_animal_top>div>div:hover .picter_zoo:before{
    content: '';
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    position: absolute;
    background-color: rgba( 0, 0, 0, 0.5);
}
.carton_animal_down>div {
    position: relative;
    margin: 12px 14px 10px 14px;
    border-radius: 5px;
    border: 1px solid rgba(250, 111, 50, 1);
}
.text_card{
}
.carton_animal_down {
    display: flex;
    flex-direction: row;
    position: relative;
    z-index: 2;
}
.animal_h {
    margin: 4px 0 0px 16px;
    font-weight: 500;
    font-size: 16px;
    line-height: 140%;
    text-transform: uppercase;
}
.animal_text {
    margin: 0 0 9px 16px;
    font-weight: 300;
    font-size: 15px;
    line-height: 120%;
}
.banana_meat_img img {
   margin: 6px 12px 0 0;
}

.panda_card_text {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.eagle_card_text {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.eagle_h {
    font-weight: 500;
    font-size: 16px;
    line-height: 140%;
    text-transform: uppercase;
}
.eagle_text {
    font-weight: 300;
    font-size: 15px;
    line-height: 120%;
}
.gorills_card_text {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.two-toed_card_text {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.cheetahs_card_text {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.penguins_card_text {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.animal_cartoon_bottom{
    display: flex;
    align-items: center;
    justify-content:center;
    margin: 68px auto 100px auto;
    width: 18.8%;
    height: 54px;
    background: #FE9013;
    border-radius: 25px;
    font-weight: 500;
    font-size: 16px;
    line-height: 140%;
    text-transform: uppercase;
    color: #FFFFFF;
}
.animal_cartoon_bottom:hover{
    background:rgba(228, 114, 9, 1);
    cursor: pointer;
}
.animal_cartoon_bottom:active {
    background: rgba(75, 146, 0, 1);
 }

/*--------------------------puck-on-feed----------------------*/
.mobile_arrow-one {
    display: none;
}

.mobile_arrow-two {
    display: none;
}

.pick-and-feed_container {
    display: flex;
    background: linear-gradient(315.75deg, rgba(254, 210, 144, 0.7) 30.06%, #FEBDAB 100.95%, rgba(254, 210, 144, 0.7) 106.36%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%);
    opacity: 0.9;
}
.pink_container {
    max-width: 1160px;
    width: 100%;
    margin: 69px 10% 100px 13.8%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgba(253, 253, 255, 0.52);
    backdrop-filter: blur(2px);
    border-radius: 20px;
}
.pink_container h2 {
    font-weight: 400;
    font-size: 48px;
    line-height: 120%;
    color: #FE9013;
}
.pick-feed-text{
    margin: -7px 0 0 8.5%;
}
.pick-feed-text>:nth-child(1){
    align-self: start;
    font-weight: 400;
    font-size: 24px;
    line-height: 120%;
    color: #333B41;
}
.pick-feed-text>:nth-child(2){
    margin-top: 40px;
    font-weight: 500;
    font-size: 16px;
    line-height: 130%;
    color: #333B41;
}
.pick-feed-text>:nth-child(3){
    margin-top: 10px;
    width: 82%;
    font-weight: 400;
    font-size: 16px;
    line-height: 130%;
    color: #333B41;
}
.pick-feed-text>:nth-child(3)>a{
    font-weight: 400;
    font-size: 16px;
    line-height: 130%;
    color: #333B41;
    padding-bottom: 2px;
    border-bottom: 1px solid #FE9013;
}
.how_it{
    margin: 60px 0 0 -5px;
    font-weight: 400;
    font-size: 36px;
    line-height: 130%;
    color: #333B41;
}
.three_steps {
    margin: 39px 0 39px 10.1%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.three_steps_container{
    display: flex;
    flex-direction: row;
    margin: 0 0 0 6.6%;
}
.pay_container {
    margin: 0 0 0 0.4%;
}
.pay_container>:nth-child(1)>img {
    padding: 54px 30px 54px 30px;
    border: 1px solid  #FE9013;
    background-color: #fff;
}
.pay_container>:nth-child(2) {
    margin: 24px 0 0 0;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    color: #333B41;
}
.buy_food_container>:nth-child(2) {
    margin: 27px 0 0 -3px;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    color: #333B41;
}
.monkey_eating>:nth-child(2) {
    width: 60%;
    margin: 27px 0 0 0px;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    color: #333B41;
}
.arrow_next_step {
    margin: 56px 30px 0 26px;
}
.buy_food_container>:nth-child(1)>img {
    display: block;
    padding: 38px 40px 33px 39px;
    border: 1px solid  #FE9013;
    background-color: #fff;
}
.monkey-cont{
    width: 142px;
    padding: 0;
    margin: 0;
}
.monkey_eating>:nth-child(1)>img{
    object-fit: cover;
    display: block;
    margin: 0 0px 0 0;
    padding: 46px 19px;
    border: 1px solid  #FE9013;
    background-color: #fff;
}
.a_to_button {
    display: block;
}
.pick-and-feed_button {
    display: block;
    margin: 23px 0 55px 0;
    padding: 16px 6.4%;
    font-weight: 500;
    font-size: 16px;
    line-height: 140%;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
    border-radius: 25px;
}
.pick-and-feed_button:hover {
    background:rgba(228, 114, 9, 1);
    cursor: pointer;
}
.pick-and-feed_button:active {
    background: rgba(75, 146, 0, 1);
 }

/*----------------------------reviews-----------------------*/
.off {
    display: none;
}
.reviews_table {
    display: none;
}
.reviews_about_us {
}
.all_block_little {
    display: none;
}
.reviews_about_us_container {
    position: relative;
    margin-top: 114px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.reviews_about_us_container::after {
    position: absolute;
    right: 0;
    bottom: -140px;
    z-index: 2;
    content: url(../../assets/icons/green_list.svg);
}
.reviews_about_us_container>h2 {
    font-weight: 400;
    font-size: 36px;
    line-height: 130%;
    color: #333B41;
}
.wrapper_reviews {
    position: relative;
    margin: 0 auto;
    width: 1180px;
    overflow: hidden;
}
.reviews {
    width: 3600px;
    left: 0px;
    box-sizing: border-box;
    margin: 15px 0 0 0;
    position: relative;
    display: flex;
    flex-direction: row;
    gap: 30px;
    transition: left 1s ease;
}
.all_block {
    width: 240px;
    height: 360px;
    position: relative;
    background: #F1F3F2;
    border-radius: 20px;
    padding: 15.5px;
    overflow: hidden;
}
.all_block::before {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: 20px;
    padding: 2px;
    background: linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%),
    linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%);
    -webkit-mask:
       linear-gradient(#fff 0 0) content-box,
       linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
            mask-composite: exclude;
}
.all_block_header {
    margin-left: 0;
    display: flex;
    flex-direction: row;
}
.all_block_img {
}
.reviews_block__one_name {
}
.all_block_name>:nth-child(1) {
    margin-left: 11px;
    font-weight: 400;
    font-size: 16px;
    line-height: 120%;
    color: #000000;
}
.all_block_name>:nth-child(2) {
    margin: 2px 0 0 11px;
    font-weight: 300;
    font-size: 15px;
    line-height: 120%;
    color: #BDBDBD;
}
.all_block_text{
    margin-top: 9px;
    font-weight: 300;
    font-size: 15px;
    line-height: 120%;
    color: #767474;
    overflow: hidden;
    height: 306px;
}
.slider_bar {
    margin: 17px 0 0 0;
}
.range {
    position: relative;
    margin: 0 auto;
    -webkit-appearance: none;
    width: 600px;
    height: 8px;
    border-radius: 5px;
    background-color: #F1F3F2;
    outline: none;
}
.range::before {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: 5px;
    padding: 1px;
    background: linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%),
    linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%);
    -webkit-mask:
       linear-gradient(#fff 0 0) content-box,
       linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
            mask-composite: exclude;
  }
.range::-webkit-slider-thumb{
    -webkit-appearance: none;
    background: #FE9013;
    width: 115.19px;
    height: 6px;
    border-radius: 5px;
    cursor: pointer;
}

.reviews_bottom {
    margin: 25px 0 180px 13.7%;
    padding: 16px 5.3%;
    align-self: flex-start;
    font-weight: 500;
    font-size: 16px;
    line-height: 140%;
    text-align: center;
    text-transform: uppercase;
    border: none;
    color: #fff;
    background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
    border-radius: 5px;
}
.reviews_bottom:hover {
    background:rgba(228, 114, 9, 1);
    cursor: pointer;
}
.reviews_bottom:active {
    background: rgba(75, 146, 0, 1);
 }

/*---------------------------footer-------------------------*/
.social_networks_mobile {
    display: none;
}
.desktop_petstory_footer {
    z-index: 2;
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: #111115;
}
.input_online_container {
    margin: 27px 0 0 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.footer_petStory_online {
    margin-bottom: 44px;
    border-radius: 2px;
    border: 0.5px solid #fff;
}
.footer_petStory_online>div {
    color: #FFFFFF;
    padding: 0 0 0 0;
    margin: 2px 0px 5px 0px;
    font-weight: 400;
    font-size: 19px;
    line-height: 120%;
    text-align: center;
    background: url(../../assets/icons/bamboo.svg) no-repeat;
    background-position: 10px 19px;
}
.footer_input {
    margin: 16px 215px 0 0;
    display: flex;
    flex-direction: column;
}
.footer_input>:nth-child(1) {
    margin-bottom: 12px;
    font-weight: 400;
    font-size: 24px;
    line-height: 120%;
    color: #fff;
}
.footer-form-text {
    padding: 12px 8px 10px 10px;
    margin-right: 5px;
    width: 207px;
    color: #BDBDBD;
    border: 1px solid rgba(255, 0, 0, 0.571);
    background: #000000;
}
::placeholder {
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
}
.footer-form-submit {
    margin-right: 5px;
    padding: 9px 39px;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    color: rgba(255, 0, 0, 0.571);
    background: #F1F3F2;
    border: 1px solid rgba(255, 0, 0, 0.571);
    border-radius: 5px;
}
.footer-form-submit:hover {
    color: rgba(0, 255, 0, 0.571);
    border: 1px solid rgba(0, 255, 0, 0.571);
    cursor: pointer;
}
.desktop_petstory_footer button {
    width: 298px;
    margin: 23px 0 0px 13.7%;
    padding: 16px 30px;
    align-self: flex-start;
    font-weight: 500;
    font-size: 16px;
    line-height: 140%;
    text-align: center;
    text-transform: uppercase;
    border: none;
    color: #fff;
    background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
    border-radius: 5px;
}
.desktop_petstory_footer button:hover {
    background:rgba(228, 114, 9, 1);
    cursor: pointer;
}
.desktop_petstory_footer button:active {
    background: rgba(75, 146, 0, 1);
 }
.desktop_petstory_footer a{
    display: inline-block;
}
.footer_navigation {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.social_networks {
    margin: 31px 0 50px 180px;
    text-align: center;
    width: 111px;
    list-style-type: none;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    color: #fff;
}
.social_networks>li {
    margin-top: 6.5px;
    padding: 3px 0 0 0;
    display: flex;
    flex-direction: row;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
}
.social_networks>li>div:nth-child(2){
    display: inline;
    margin: 5px 0 0 10px;
}
.social_networks>li>div>a:hover{
    color: #F9804B;
}
.social_networks>li>div:nth-child(1){
    display: flex;
    justify-content: center;
    align-items: center;
    width: 26px;
    height: 26px;
    background: rgba(196, 196, 196, 0.5);
    border-radius: 50%;
}

.list{
    margin: 0 0 51px 4.6%;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    gap: 59px;
    list-style-type: none;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    color: #fff;
}

.list>li>a:active {
    color: rgba(249, 128, 75, 1);
}
.list>li>span {
    color: #F9804B;
}
.about_footer {
    color: #F9804B;
}
.autors {
    margin: 0 220px 50px 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    list-style-type: none;
    font-weight: 100;
    font-size: 16px;
    line-height: 130%;
    color: #fff;
}
.autors>div {
    padding-top: 10px;
}
/*------------------------------------------------pop up--------------------------------------------*/
.popup {
    position: fixed;
    top: 50vh;
    left: 50vw;
    transform: translate(-50%, -50%);
    padding: 20px 36px 17px 17px;
    background: rgba(241, 243, 242, 0.3);
    z-index: 4;
  }
  .x_popup {
    position: absolute;
    top: 0;
    right: 0;
    padding: 10px;
    cursor: pointer;
  }
  
  .popup_reviews {
    width: 265px;
    height: 389px;
    background: #f1f3f2;
    border-radius: 20px;
    padding: 15px;
  }
  .new{
    font-family: 'Roboto', sans-serif;
    width: 267px;
    height: 391px;
    position: absolute;
    top: 4%;
    left: -1%;
  }
  
