.select_page {
    display: flex;
}

.creating-car{
    display: flex;
}

.change-car{
    display: flex;
    pointer-events: none;
    opacity: 0.3;
}

.win_table{
    vertical-align:middle;
    text-align: center;
}
