.select_page {
    display: flex;
}

.creating-car{
    display: flex;
}

.change-car{
    display: flex;
    pointer-events: none;
    opacity: 0.3;
}

.activ-change {
    pointer-events: all;
    opacity: 1;
}
