.sources {
    margin: 0 10px 0 10px;
    display: flex;
    position: sticky;
    z-index: 5;
    top: 70px;
    flex-direction: row;
    flex-wrap: nowrap;
    overflow: auto;
    font: 400 1em 'Fira Sans', sans-serif;
    background-color: rgba(0, 0, 0, 0.8);
}

.sources::-webkit-scrollbar {
    width: 8px;
    height: 10px;
  }
  
.sources::-webkit-scrollbar-track {
    -webkit-box-shadow: 5px 5px 5px -5px rgba(34, 60, 80, 0.2) inset;
    background-color: #232358;
    border-radius: 10px;
  }
  
.sources::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: linear-gradient(180deg, #00c6fb, #005bea);
  }

  .sources::-webkit-scrollbar-thumb:hover{
    background: linear-gradient(180deg, #3fcc59, #3fcc59);
  }

.source__item {
    display: flex;
    word-wrap:break-word;
    justify-content: flex-start;
    align-items: center;
    background: none;
    border: 2px solid #30c5ff;
    font: inherit;
    line-height: 1;
    margin: 0.5em;
    padding: 1em 1em;
    color: #70d6ff;
    transition: 0.25s;
    cursor: pointer;;
}

.source__item:hover,
.source__item:focus {
    border-color: #3fcc59;
    color: #69db7e;
    box-shadow: 0 0.5em 0.5em -0.4em #3fcc59;
    transform: translateY(-0.25em);
}

.source__item-name {
    font-weight: 400;
    white-space: nowrap;
}