* { margin: 0; padding: 0; }
body{
    background: linear-gradient(90deg, #121117,#00a89b);
}
.container {
    width: 80%;
    margin: 30px auto 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    user-select: none;
}
.buttons {
    display: flex;
    margin: 20px 0;
    gap: 2vw;
}
.buttons>button {
    font-weight: bold;
    padding: 5px;
    font-size: 1em;
    background-color: #e0c01f;
    cursor: pointer;  
}
.mov_container{
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    font-size: 1.3em;
    gap: 50px;
}
.movies{
    border: 1px solid #000000;
    font-weight: bold;
    padding: 5px;
    background-color: #e0c01f;   
}
.timer{
    border: 1px solid #000000;
    font-weight: bold;
    padding: 5px;
    background-color: #e0c01f; 
}
.downButtons{
    display: flex;
    margin: 20px 0;
    gap: 1.8vw;
}
.downButtons>button{
    padding: 0 5px;
    font-weight: bold;
    font-size: 1em;
    line-height: 3vh;
    background-color: #e0c01f;   
    cursor: pointer;  
}
.gameField {
    max-width: 100%; /*необходима динамическая смена при смене размера пазла*/
    height: 100%; /*необходима динамическая смена при смене размера пазла*/
    width: 100%;
    text-align: center;
    background: linear-gradient(3deg, #027c0b,#e0c01f, #02810b);
    position: relative;
    transition: all .2s ease;
}
.tiles {
    padding: 0;
    margin: 0;
    position: absolute;
    top: 0;
    left: 0;
    height: 25%; /*необходима динамическая смена при смене размера пазла*/
    width: 25%; /*необходима динамическая смена при смене размера пазла*/
    border: none;
    border-radius: 10%;
    background: radial-gradient(circle at 50% 50%, #545745 0, #18181c 50%, #000000 100%);
    cursor: move;
    font-size: 2rem;
    transition: all .2s ease-in-out;
}
.sound{
    height: 30px;
    width: 30px;
    background: url(./sound_on.png) no-repeat;
    background-size: 100% 100%;
    background-position: 0 0 ;
    cursor: pointer;
}


.winlist{
    display: none;
}

.activ {
    display: flex;
    flex-direction: column;
    gap: 5px;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    font-size: 20px;
    overflow: hidden;
    color: aliceblue;
    background-color: #000000;
    z-index: 4;
}

.selected{
   
}

@media (max-width: 600px){
    .tiles {
        font-size: 1.2rem;
    }
    .downButtons>button{
        font-size: 0.8em;
        line-height: 3vh;
    }
    .buttons>button{
        font-size: 0.8em;
        line-height: 3vh;
    }
    .mov_container{
        font-size: 0.8em;
        gap: 40px;
    }
}